<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>관리자 확인</title>
  <style>
    .detail table {
      width: 100%;
      border-collapse: collapse;
    }

    .detail table th, .detail table td {
      border: solid 1px #000;
    }

    .buttons {
      text-align: center;
      margin-top: 20px;
    }

    .buttons a, .buttons button {
      border-width: 0;
      background-color: transparent;
      text-decoration: underline;
      font-size: 14px;
      line-height: 20px;
      height: 20px;
      color: #000;
      cursor: pointer;
    }

  </style>

  <script src="https://code.jquery.com/jquery-3.6.3.min.js"
          integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
          crossorigin="anonymous"></script>

  <script>
    $(document).ready(function () {

      $('#submitForm').on('submit', function () {

        // 에디터의 내용이 textarea에 적용된다.
        oEditors.getById["contents"].exec("UPDATE_CONTENTS_FIELD", []);
      });

    });
  </script>
</head>
<body>

<h1>게시물 수정</h1>
<div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

<div class="detail">
  <div class="buttons">

  <form id="submitForm" method="post" enctype="multipart/form-data">

    <table>
      <tbody>
      <tr>
        <th>
          제목
        </th>
        <td>
          <textarea th:text="${post.title}" id="title" name="title"/></textarea>
        </td>
      </tr>
      <tr>
        <th>
          내용
        </th>
        <td>
          <textarea th:text="${post.contents}" id="contents" name="contents"
                    placeholder="내용 입력"/></textarea>
        </td>
        <th>
          작성자
        </th>
        <td th:text="${post.userId}">
          ceh201312@naver.com
        </td>
        <th>
          등록일
        </th>
        <td th:text="${post.registeredAt}">
          2023.03.18
        </td>
      </tr>

      </tbody>
    </table>


    <div class="buttons">
      <button type="submit"> 게시물 수정 하기</button>
      <a href="/post/list"> 목록 이동 </a>
    </div>

  </form>
</div>

<script type="text/javascript" src="/res/se2/js/service/HuskyEZCreator.js" charset="utf-8"></script>
<script type="text/javascript">
  var oEditors = [];
  nhn.husky.EZCreator.createInIFrame({
    oAppRef: oEditors,
    elPlaceHolder: "contents",
    sSkinURI: "/res/se2/SmartEditor2Skin.html",
    fCreator: "createSEditor2"
  });
</script>
</body>
</html>