<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerobase.communityproject.post.mapper.PostMapper">

  <sql id="selectListWhere">
    <if test="searchType != null and searchValue != null">
      <choose>
        <when test="searchType == 'userId'">
          and user_id like concat('%', #{searchValue}, '%')
        </when>
        <when test="searchType == 'title'">
          and title like concat('%', #{searchValue}, '%')
        </when>
        <when test="searchType == 'contents'">
          and contents like concat('%', #{searchValue}, '%')
        </when>
        <otherwise>
          and
          (
          user_id like concat('%', #{searchValue}, '%')
          or
          title like concat('%', #{searchValue}, '%')
          or
          contents like concat('%', #{searchValue}, '%')
          )
        </otherwise>
      </choose>
    </if>
  </sql>

  <select id="selectListCount" resultType="long">

    select count(*)
    from post
    where 1 = 1
    <include refid="selectListWhere"/>

  </select>

  <select id="selectList" resultType="com.zerobase.communityproject.post.dto.PostDto">

    select *
    from post
    where 1 = 1
    <include refid="selectListWhere"/>
    order by registered_at desc
    limit #{pageStart}, #{pageEnd}

  </select>

  <select id="selectListMyPostCount" resultType="long">
    select count(*)
    from post
    where user_id = #{userId}
  </select>

  <!-- userId에 해당하는 게시물 정보 -->
  <select id="selectListMyPost" resultType="com.zerobase.communityproject.post.dto.PostDto">
    select p.*
    from post p
    join member m on m.user_id = p.user_id
    where p.user_id = #{userId}
  </select>

  <!--
  <update id="updateMyPost" parameterType="com.zerobase.communityproject.post.dto.PostDto">
    update post
    set title = #{title},
    contents = #{contents},
    modified_at = now()
    where id = {id}
  </update>
  -->



</mapper>